<h1>Editar Departamento</h1>

<%= render partial: "form", locals: { texto_da_acao: "Editar departamento"}, class:"btn btn-primary" %>

<%= link_to 'Mostrar produtos', @departamento, class:"btn btn-default" %>
<%= link_to 'Voltar', departamentos_path, class:"btn btn-default" %>
